body {
  transition: all .6s ease-in-out;
  --background-color: skyblue;
  --color: #333;
}

body[data-light-level="normal"] {
    background: var(--background-color);
    color: var(--color);
}

body[data-light-level="dim"] {
  background: darkslategrey;
  color: #ccc;
}

body[data-light-level="washed"] {
  background: rgb(225, 225, 243);
  color: #333;
}

/* Sample UI styles */
body {
  font-family: "Georgia";
  line-height: 1.25em;
}

blockquote {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.5em 2em;
}
